.background {
    .background_img {
        height: 700px;
        filter: brightness(20%);
        width: 100%;
    }
    h2 {
        position: absolute;
        bottom: 43%;
        left: 31%;
        color: white;
        text-transform: uppercase;
        width: 40%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 28px;
        font-weight: 900;
    }
}
.fade-enter {
    opacity: 0.01;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
  
